<!DOCTYPE html>
<html lang="ja">
  <head>
    <title><%= content_for?(:html_title) ? yield(:html_title) : "Creator’s Book" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="loading" style="display: none;">
      <div class="animation">TODO:Loadong...</div>
    </div>

    <!-- mode normal -->
    <% if @view_code == "normal" %>
      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#">
          <span class="logo">Logo Image</span>
        </a>
        <% if @current_user.present? %>
          <div class="collapse navbar-collapse">
            <%= form_tag("/logout", method: "post", class: "form-inline my-2 my-lg-0 ml-auto")  do %>
              <button type="submit" class="btn-logout btn btn-link">ログアウト</button>
            <% end %>
          </div>
        <% end %>
      </nav>

      <% if !@current_user.present? %>
        <% if flash[:notice] %>
          <p class="p-3 mb-2 text-white bg-info"><%= notice %></p>
        <% end %>
        <% if flash[:alert] %>
          <p class="p-3 mb-2 text-white bg-danger"><%= alert %></p>
        <% end %>
        <%= yield %>
      <% end %>
    <% end %>

    <!-- mode side -->
    <% if @view_code == "side" %>
      <div class="container-fluid">
        <div class="row flex-xl-nowrap">
          <!-- side bar -->
          <div class="col-2 bd-sidebar">
            <div class="logo">
              Logo Image
            </div>
            <div class="side-form">
              <label class="under blue-5">キーワード</label>
              <div class="row">
                <div class="col-8">
                  <%= text_field_tag :text1, '', class: "form-control "%>
                </div>
                <div class="col-4">
                  <button class="btn btn-primary btn-sm form-control" type="submit">検索</button>
                </div>
              </div>
            </div>
          </div>
          <main class="col-9 py-md-3 pl-md-5 bd-content">
            <div class="navlist">
              <ul>
                <li><a href="#">タイトル1</a></li>
                <li><a href="#">タイトル2</a></li>
                <li><a href="#">タイトル3</a></li>
                <li><a href="#">タイトル4</a></li>
              </ul>
            </div>
            <% if flash[:notice] %>
              <pre class="p-3 mb-2 text-white bg-info bg-messege"><%= notice %></pre>
            <% end %>
            <% if flash[:alert] %>
              <pre class="p-3 mb-2 text-white bg-danger bg-messege"><%= alert %></pre>
            <% end %>
            <%= yield %>
          </main>
        </div>
      </div>
    <% end %>

  </body>
</html>